.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
   
}
.container h3{
    font-size: 1.5vw;
    color: rgb(91, 91, 91);
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    
}

.buttons{
    height: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 3vw;
    padding: 100px 20px;
}
.buttons button{
   
    font-weight: 600;
    font-family: "Inter", sans-serif;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    padding: 25px 60px;
    font-size: clamp(18px, 2.3vw, 40px);
    border: 2px solid rgb(222, 221, 221);


}
.maintext{
    display: flex;
    text-align: center;
}

.title{
    font-size: 10vw;  
    font-weight: 500; 
    line-height: 1.1;
    color: rgb(145, 143, 143); 
    font-family: "Inter", sans-serif;
   

}
