.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
   
}
.container h3{
    font-size: 1.5vw;
    color: rgb(91, 91, 91);
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    
}

.buttons{
    height: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 3vw;
    padding: 100px 20px;
}
.buttons button{
   
    font-weight: 600;
    font-family: "Inter", sans-serif;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    padding: 25px 60px;
    font-size: clamp(18px, 2.3vw, 40px);
    border: 2px solid rgb(222, 221, 221);


}
.maintext{
    display: flex;
    text-align: center;
}

.title{
    font-size: 10vw;  
    font-weight: 500; 
    line-height: 1.1;
    color: rgb(145, 143, 143); 
    font-family: "Inter", sans-serif;
   

}

@media (max-width: 900px) {
    .buttons {
        gap: 20px;
    }

    .buttons button {
        padding: 18px 30px;
        font-size: 16px;
    }
    .container h3{
    font-size: 25px;
    }
}


@media (max-width: 600px) {
    .container {
        padding-bottom: 60px;
    }
    .container h3{
        font-size: 15px;
        }

    .buttons {
        flex-direction: column; 
        align-items: center;
        width: 100%;
        gap: 15px;
        margin-bottom: 60px;
    }

    .buttons button {
        width: 100%;
        max-width: 300px;
        text-align: center;
        padding: 15px;
    }

    .title {
    
        font-size: clamp(36px, 12vw, 60px) 
    }
}