
.fullScreen {
    display: flex;
    width: 100%;
    height: 100vh;
}


.leftSide {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}


.centerContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.formBox {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    width: 50vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.headerText {
    font-size: 70px;
    font-weight: bold;
}


.description {
    text-align: center;
    text-justify: center;
    font-size: 20px;
    color: rgb(80, 80, 80);
}


.inputsGroup {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 120%;
}


.stdInput {
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    cursor: pointer;
    transition: background-color 0.2s;
}

.stdInput::placeholder {
    color: #9ca3af;
    font-size: 14px;
    font-weight: 400;
}


.passContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px; 
}


.passContainer .stdInput {
    flex: 1;
    margin-bottom: 0;
    padding-right: 40px; 
    outline: none;
    font-size: 16px;
    width: 100%;
}


.eyeBtn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
    display: flex;
    align-items: center;
}


.submitBtn {
    color: white;
    background-color: blue;
    border-radius: 10px;
    height: 47px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.blueLink {
    color: blue;
    font-size: medium;
    text-decoration: none;
}

.footerText {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: rgb(94, 94, 94);
    text-align: left;
}


.footerText a {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 13px;
}


.rightSideBg {
    width: 50%;
    height: 100vh;
    background-image: url('../imgs/bg.png'); 
    background-size: cover;
    background-position: center;
}