header{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 10px 40px;
}
.leftheader{
    display: flex;
    flex-direction: column;

}
.FurtinitureStore{
    display: flex;
}
.FurtinitureStore>:first-child{
    font-size: 4vw;
}

.store{
    font-size: 4vw;
    color: rgb(127, 128, 129);
}
.leftheader>:last-child{
    color: rgb(128, 129, 130);
    font-size: 1.2vw;
}


.rightheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}