.container {
    width: 100%;
    padding: 60px 90px;
    font-family: Inter, sans-serif;
    background-color: white;
}

.title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #555;
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.grid {
    display: grid;
   
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; 
}

.card {
    border-radius: 12px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 320px; 
    cursor: pointer;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.03); 
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    filter: saturate(140%) brightness(0.96);
    
}

.card h2 {
    font-size: 38px; 
    font-weight: 800;
   
    margin: 0 0 20px 0;
    letter-spacing: -1px;
}

.card p {
    font-size: 17px;
    line-height: 1.6;
    margin: 0 0 40px 0;
    opacity: 0.9; 
}


.linkWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-weight: 700;
    font-size: 13px;
    
}

.linkText {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.arrow {

    display: flex;
    align-items: center;
    justify-content: end;
    transition: transform 0.3s ease;
}


.card:hover .arrow {
    transform: translateX(5px); 
}


