.container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #e0e0e0; 
}

.title {
    padding-left: 30px;
    font-size: 3vw;
    color: #0066ff;
    font-weight: bold;
}
.allmenu{
    width: 35%;
    display: flex;
    
    
   
}
.menu {
    width: 50%;
    
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 20px;
    font-size: 1.5vw;
    
  
    padding-right: 15px;
    border-right: 1px solid #e0e0e0;

}
.menu div:first-child{
    display: flex;       
    align-items: center;
    gap: 6px;            
    cursor: pointer;
    
}
.menu div:last-child{
    color: rgb(245, 92, 117);
}

.registration button:last-child {
    background-color: #0066ff;
    color: white;
}

.registration {
    display: flex;
    gap: 10px;
    width: 50%;
    padding-left: 10px;
}

.registration button {
    border: none;
    background: none;
    font-size: 1.3vw;
    font-weight: 400;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 6px;
}


@media (max-width: 900px) {
    .menu {
        gap: 10px;
        font-size: 14px;
        padding-right: 10px;
    }
    
    .registration button {
        font-size: 14px;
        padding: 6px 12px;
    }
}


@media (max-width: 600px) {
    .container {
        padding: 0 10px;
    }

    .title {
        font-size: 22px;
    }

    
    .registration {
        gap: 5px;
    }

    .registration button {
        font-size: 13px;
        padding: 6px 10px;
    }
}