.container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #e0e0e0; 
}

.title {
    padding-left: 30px;
    font-size: 3vw;
    color: #0066ff;
    font-weight: bold;
}
.allmenu{
    width: 35%;
    display: flex;
    row-gap: 30px;
   
}
.menu {
    width: 50%;
    /* height: 100%; */
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 20px;
    font-size: 1.5vw;
    
    /* font: weight 6px; */
    padding-right: 10px;
    border-right: 1px solid #e0e0e0;

}
.menu div:first-child{
    display: flex;       /* Ставить текст і стрілочку в один рядок */
    align-items: center; /* Вирівнює їх по висоті */
    gap: 6px;            /* Відступ між словом Tools і стрілочкою */
    cursor: pointer;
}
.menu div:last-child{
    color: rgb(245, 92, 117);
}

.registration button:last-child {
    background-color: #0066ff;
    color: white;
}

.registration {
    display: flex;
    gap: 10px;
    width: 50%;
}

.registration button {
    border: none;
    background: none;
    font-size: 1.3vw;
    font-weight: 400;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 6px;
}
