.container {
    
    font-size: 6vw;
    font-weight: 900;
    font-family: sans-serif;
}

.letter.anim_color {
    animation-name: letter-color;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes letter-color {

    0%,
    100% {
        color: var(--default-color)
    }

    15%, 85% {
        color: var(--color)
    }
}

/* 
    0%   default-color
    15%  color
    85%  color
    100% default-color
*/