.cart-widget{
    display: flex;
    width: 100%;
    border-color: rgb(198, 43, 43);
    
}

.cart-widget>button{
    width: 15%;
   
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    
}

.cart-text{
    /* width: 80%; */
    flex-grow: 1;
    background-color: rgb(138, 140, 140);
    color: white;
    padding: 5px;
    font-size: 1rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
}