.container{
    height: auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: start;
    border-bottom: 1.5px solid rgb(235, 232, 232);
    padding: 40px 0px;
    
}
h3{
    font-weight: 300;
    color: rgb(70, 71, 70);
}
.container1, .container2, .container3, .container4{
    display: flex;
    flex-direction: column;
}
button{
    height: auto;
    width: auto;
    border: none;
    background-color: white;
    text-align: start;
    padding: 10px 0px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(214, 214, 219);
}
lover{
    display: flex;
    justify-content: center;
    border-top: 1.5px solid rgb(235, 232, 232);
    padding-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;;
}