:root {
    --saleBgcolor: #fa3a47;
    --saleTextColor: #EDEADE;
    --salePriceColor: var(--saleBgcolor);
}

.product-card {
    
    padding: 15px;
    position: relative; 
    background: white;
    text-align: left; 
    transition: box-shadow 0.3s ease; 
    display: flex;
    flex-direction: column;

}

.product-card:hover {
    box-shadow: 0 8px 12px rgba(11, 7, 7, 0.1);
}

.product-image {
    width: 100%;
    height: 150px;     
    object-fit: contain; 
    border: 1px solid #c7c7c7;
}

.product-title {
    font-size: 1rem;
    margin: 10px 0;
    color: #333;
    font-weight: bold; 
    min-height: 40px; 
}

.product-price {
    font-size: 1.1rem;
    color: #333;
}

/* Стилі для знижки */
.sale-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4f; /* Червоний */
    color: white;
    padding: 2px 8px;
    font-size: 0.8rem;
    font-weight: bold;
    /* transform: rotate(-45deg);  */
}

.price-sale {
    color: #ff4d4f; /* Червона ціна */
    font-weight: bold;
    margin-right: 10px;
}

.price-original {
    text-decoration: line-through; /* Закреслення */
    color: #999;
    font-size: 0.9rem;
}